{% extends "base.html" %}

{% block content %}

<br>
<div class="list-group">
   {% if session['login_user'] != None and session['group_user'] != 'client' %}

  <a href="1
" class="list-group-item list-group-item-action">Данные о покупках со склада в [МЕСЯЦ] [ГОД]</a> <br>
  <a href="2" class="list-group-item list-group-item-action"> Шифры и названия товаров, которые покупатель с именем ХХХ покупал в
[МЕСЯЦ] [ГОД]</a> <br>
  <a href="3" class="list-group-item list-group-item-action">Сведения о самом дорогом/дешёвом товаре на складе</a> <br>
  <a href="4" class="list-group-item list-group-item-action">Сведения о покупателях, заключивших долгосрочные договора,  не
сделавшие/сделавшие заказ</a> <br>
    <a href="5" class="list-group-item list-group-item-action">Все сведения о покупателях, ни разу не сделавших заказ на покупку товаров в
[МЕСЯЦ] [ГОД]</a> <br>
    <a href="6" class="list-group-item list-group-item-action">Сведения о покупателе, сделавшем наибольшее количество покупок в [ГОД]


  {% endif %}
</div>

{%endblock%}